<div class="dashboard-wrapper">
  <div class="dashboard-box">
    <h1>Bienvenue sur votre tableau de bord</h1>
    <p class="lead">Créez et gérez votre CV ou votre portfolio facilement</p>

    <!-- Tableau des actions -->
    <div class="dashboard-btn-wrapper">
      <a routerLink="/choose-template" class="btn dashboard-btn btn-lg">Créer / Modifier mon CV</a>
      <a routerLink="/editor-portfolio" class="btn dashboard-btn btn-lg">Gérer mon Portfolio</a>
    </div>

    

    <!-- Déconnexion -->
    <div class="d-grid gap-3 mt-4">
      <button class="btn logout-btn btn-lg" (click)="logout()">Se déconnecter</button>
    </div>
  </div>
</div>
