<div class="container mt-5">
    <div class="text-center">
      <h1>Welcome to Your Dashboard</h1>
      <p class="lead">Here you can create your CV and manage your portfolio.</p>
  
      <div class="d-grid gap-3 col-6 mx-auto mt-4">
        <a routerLink="/choose-template" class="btn btn-outline-primary btn-lg">Create / Edit My CV</a>
        <a routerLink="/editor-portfolio" class="btn btn-outline-secondary btn-lg">Manage My Portfolio</a>
        <button class="btn btn-danger btn-lg" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
  